<section id="contacts">
    <div class="wrapper contacts">
        <div class="contacts-card">
            <h4 class="contacts-section-title">
                Complex Questions?
            </h4>
            <div class="contacts-section-text">
                Request for a personalized budget for your legal problem. We will send you a coupe options in 24 hours. You can have free consult , if a our first customer
            </div>
            <button>
                <img src="assets/icons/call.svg" alt="">
                Call now
            </button>
        </div>
        <img src="assets/img/contacs-img.png" alt="">
    </div>
</section>
