<section id="footer-nav">
    <div class="wrapper footer-nav">
        <img src="assets/icons/logo-light.svg" alt="">
        <div class="footer-nav-menu">               
            <ul>
                <li>Product</li>
                <li><a>Overview</a></li>
                <li><a>Features</a></li>
                <li><a>Tutorials</a></li>
                <li><a>Pricing</a></li>
                <li><a>Releases</a></li>
            </ul>
            <ul>
                <li>Company</li>
                <li><a>About</a></li>
                <li><a>Press</a></li>
                <li><a>Careers</a></li>
                <li><a>Contact</a></li>
                <li><a>Partners</a></li>
            </ul>
            <ul>
                <li>Support</li>
                <li><a>Help Center</a></li>
                <li><a>Terms of service</a></li>
                <li><a>Legal</a></li>
                <li><a>Privacy Policy</a></li>
                <li><a>Status</a></li>
            </ul>
            
        </div>
    </div>
</section>
<footer>
    <div class="wrapper footer">
        <div>© 2021 Lawliet. All rights reserved</div>
        <div>
            <img src="assets/icons/instagram.svg" alt="instagram">
            <img src="assets/icons/ball.svg" alt="ball">
            <img src="assets/icons/twitter.svg" alt="twitter">
            <img src="assets/icons/youtube.svg" alt="youtube">
        </div>
    </div>
</footer>
